@import url('https://fonts.googleapis.com/css?family=Tenor+Sans');

* {
	box-sizing: border-box;
}

:root {
	--bg: rgb(32, 32, 32);
	--mg: rgb(64, 64, 64);
	--fg: rgb(255, 222, 149);
}

body {
	width: 100vw;
	height: 100%;
	margin: 0;
	background: var(--bg);
}

.invert {
	filter: invert(100%) hue-rotate(180deg);
}

.middle {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.button {
	display: inline-block;
	width: 1.5em;
	height: 1.5em;
	background: var(--fg);
	border-radius: .125em;
	text-align: center;
	line-height: 1.5em;
	color: var(--bg);
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#content {
	width: 100vw;
	height: 100%;
	background: var(--bg);
	color: var(--fg);
	font-family: Tenor Sans;
	font-size: 32px;
	line-height: 48px;
}

#waiting_screen, #card_screen, #list_screen, #add_screen {
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
	background: var(--bg);
}

#waiting_screen {
	display: block;
}

#sombrero {
	display: inline-block;
	width: 100vw;
	height: 1.5em;
	vertical-align: top;
	text-align: center;
}

#sombrero img {
	height: 1.5em;
}

#header {
	position: absolute;
	top: 0;
	width: 100vw;
	height: 1.5em;
	text-align: right;
}

#header #remove_button {
	float: left;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-top-right-radius: 0;
	vertical-align: top;
}

#header #edit_button {
	float: left;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	vertical-align: top;
	margin-left: .5em;
}

#header #list_button {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	vertical-align: top;
	margin-left: .5em;
}

#header #add_button {
	border-bottom-right-radius: 0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	vertical-align: top;
	margin-left: .5em;
}

#footer {
	position: absolute;
	bottom: 0;
	width: 100vw;
	height: 1.5em;
	text-align: right;
}

#footer #average_score {
	float: left;
	width: 3em;
	height: 1.5em;
	border-radius: .125em;
	padding-left: .25em;
	text-align: left;
	line-height: 1.5em;
	color: var(--fg);
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#footer #daynight_button {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-left: .5em;
}

#footer #incorrect_button {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-left: .5em;
}

#footer #correct_button {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-left: .5em;
}

#footer #flip_button {
	border-top-right-radius: 0;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-left: .5em;
}

#flashcard_front, #flashcard_back {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
}

#add_screen {
	overflow-y: scroll;
	text-align: center;
}

#add_screen #front, #add_screen #back, #add_screen #tags, #add_screen #submit_add_button {
	margin-top: 1em;
}

#add_screen #close {
	position: absolute;
	top: 0;
	right: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
}

#add_screen .textarea {
	width: 100%;
	height: 2em;
	background: var(--fg);
	border: 0;
	color: var(--bg);
	font-size: 1em;
}

#list_screen {
	overflow-y: scroll;
	padding: 0 .25em 0 .25em;
}

#list_screen #heading {
	text-align: center;
}

#list_screen #list div {
	border-top: 1px solid var(--fg);
}